<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hram.githubtrending">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".splash.SplashActivityTv"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".trends.TrendsActivity"/>
        <activity android:name=".filter.FilterActivity"/>
        <activity android:name=".selectlanguage.SelectLanguageActivity"/>
        <activity android:name=".selecttimespan.SelectTimeSpanActivity"/>

        <activity
            android:name=".onboarding.OnboardingActivity"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.Leanback.Onboarding"/>
        <activity android:name=".selecttimespan.SelectTimeSpanActivityTv"/>
        <activity android:name=".selectlanguage.SelectLanguageActivityTv"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="40f18317fc14f66d7adefcb145acf0a22d207d05"/>
    </application>

</manifest>